.progress-bar {
    margin-bottom: 10px;
    position: relative;
    height: 20px;
    width: 100%;
}

.filler {
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #9c88ff,
    #9c88ff 10px,
    #dfb4f3 10px,
    #dfb4f3 20px
  );
    height: inherit;
    transition: width .2s ease-in;
}

